---
layout: default
title: Hello Rod 
---
<div class="wrapper">
	<ul class="postsList">
		<h2>Posts</h2>
		{% for post in site.posts limit:5 %}{% include posts-list.html %} {% endfor %}
		<li><a href="/archive/">所有文章 + <small> {{ site.posts.size }} Posts</small></a></li>
	</ul>
	<h2>Tags</h2>
	<div class="tag-cloud">
		{% for tag in site.tags %}
		{% if tag[1].size > 0 %}
			<a href="/tag/#{{ tag | first }}">{{ tag | first }}<span>{{ tag[1].size }}</span></a>
		{% endif %}
		{% endfor %}
		<br>
		<a href="/tag">所有Tag </a> <span><small>{{ site.tags.size }}+</small></span>
	</div>
</div>
