<li><span>清华大学创意创新创业教育平台</span><a href="http://www.x-lab.tsinghua.edu.cn" target="_blank">Working in X-lab</a></li>
<li><span>哲思和阅历描绘美丽人生</span><a href="https://app.yinxiang.com/pub/zhanghooyo/philosophy+experience4wonder4living" target="_blank">philosophy+experience for Wonder4living </a></li>
<li><span>美丽人生中的生活技巧和经验</span><a href="https://app.yinxiang.com/pub/zhanghooyo/living-lore4wonder4living" target="_blank">Living-lore for Wonder4living </a></li>
<li><span>美丽人生须尽欢</span><a href="https://app.yinxiang.com/pub/zhanghooyo/enjoy4wonder4living" target="_blank">Enjoy for Wonder4living </a></li>
<li><span>文学与艺术</span><a href="https://app.yinxiang.com/pub/zhanghooyo/literature+art4wonder4living" target="_blank">Literature&Art for Wonder4living </a></li>
